<footer class="footer" id="footer">
  <div class="footer-ua">
    <div></div>
    <div></div>
  </div>

  <div class="container">
    <div class="footer__head">
      <div class="footer__head-contact">
        <div class="footer__head-contact__title">
          <h4>Ми відкриті до співпраці</h4>
          <p>
            Зв'яжіться з нами, коротко опишіть ваші запитання, <br />
            а також зв'яжіться з нами якнайшвидше
          </p>
        </div>

        <div class="footer__head-contact__link">
          <a
            title="Зателефонувати"
            target="_blank"
            class="link-tel"
            href="tel:+380661234567"
          >
            +380 66 123 4567
          </a>

          <a
            class="main-link"
            title="Надіслати листа"
            target="_blank"
            class="link-mail"
            href="mailto:enveсo@gmail.com"
          >
            enveсo@gmail.com
          </a>

          <a class="location-link" title="Адреса" target="_blank" href="#!">
            м.Київ Вулиця: Вулиця Шевченка 25, Офіс: 25
          </a>
        </div>

        <div class="footer__head-contact__soc">
          <div class="footer__head-contact__soc-item">
            <a title="Facebook" target="_blank" href="#!">
              <svg
                width="57"
                height="65"
                viewBox="0 0 57 65"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_654_4902)">
                  <path
                    class="border-svg"
                    d="M56.5 48.4595L28.5 64.4244L0.499998 48.4595L0.5 16.5405L28.5 0.575574L56.5 16.5405L56.5 48.4595Z"
                    stroke="#81B18C"
                  />
                  <path
                    class="fill-svg"
                    d="M27.6367 23.9786C28.3063 23.2733 29.2542 23.0335 30.1526 23.0058C31.1008 22.9965 32.0489 23.0012 32.9969 23.0012C33.001 24.1122 33.001 25.2186 32.9969 26.3297C32.3857 26.3297 31.7701 26.3297 31.1589 26.3297C30.7721 26.3019 30.373 26.6293 30.3023 27.0581C30.2939 27.8005 30.2981 28.5425 30.2981 29.2848C31.1962 29.2895 32.0946 29.2848 32.9927 29.2895C32.9262 30.3635 32.8057 31.4332 32.6643 32.4936C31.87 32.5029 31.0757 32.4936 30.2814 32.4983C30.2731 35.6654 30.2856 38.8279 30.2773 41.9954C29.0961 42 27.9194 41.9907 26.7383 42C26.7174 38.8329 26.7383 35.6657 26.7258 32.4983C26.1519 32.4936 25.5739 32.5029 25 32.4936C25.0042 31.4286 25 30.3638 25 29.3034C25.5739 29.2941 26.1519 29.3034 26.7258 29.2987C26.7425 28.266 26.7091 27.2287 26.7425 26.1961C26.8051 25.371 27.0837 24.5457 27.6367 23.9786Z"
                    fill="#1D7E33"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_654_4902">
                    <rect
                      width="57"
                      height="65"
                      fill="white"
                      transform="translate(57 65) rotate(-180)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>

          <div class="footer__head-contact__soc-item">
            <a title="LinkedIn" target="_blank" href="#!">
              <svg
                width="57"
                height="65"
                viewBox="0 0 57 65"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_654_4901)">
                  <path
                    class="border-svg"
                    d="M56.5 48.4595L28.5 64.4244L0.499998 48.4595L0.5 16.5405L28.5 0.575574L56.5 16.5405L56.5 48.4595Z"
                    stroke="#81B18C"
                  />
                  <path
                    class="fill-svg"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.3133 42V29.1801H19.2408V41.9999H23.3133V42ZM21.2774 27.4304C22.6972 27.4304 23.5815 26.4452 23.5815 25.215C23.5547 23.9574 22.6972 23 21.3041 23C19.9107 23 19 23.9575 19 25.215C19 26.4452 19.8839 27.4304 21.2506 27.4304L21.2774 27.4304ZM25.5672 42C25.5672 42 25.6207 30.3829 25.5672 29.1801H29.6404V31.0393H29.6133C30.1489 30.1644 31.1138 28.8791 33.3107 28.8791C35.991 28.8791 37.9999 30.7114 37.9999 34.6492V42H33.9275V35.1417C33.9275 33.4185 33.3382 32.2425 31.864 32.2425C30.7391 32.2425 30.0687 33.0353 29.7743 33.8016C29.6666 34.0744 29.6404 34.4575 29.6404 34.8407V42H25.5672Z"
                    fill="#1D7E33"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_654_4901">
                    <rect
                      width="57"
                      height="65"
                      fill="white"
                      transform="translate(57 65) rotate(-180)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>

          <div class="footer__head-contact__soc-item">
            <a title="Twitter" target="_blank" href="#!">
              <svg
                width="57"
                height="65"
                viewBox="0 0 57 65"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_654_4900)">
                  <path
                    class="border-svg"
                    d="M56.5 48.4595L28.5 64.4244L0.499998 48.4595L0.5 16.5405L28.5 0.575574L56.5 16.5405L56.5 48.4595Z"
                    stroke="#81B18C"
                  />
                  <path
                    class="fill-svg"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24.2335 42C32.9125 42 37.6597 35.0739 37.6597 29.0684C37.6597 28.8712 37.6597 28.6755 37.6459 28.4806C38.5694 27.8382 39.3664 27.0405 40 26.1278C39.1398 26.4956 38.2255 26.7367 37.2906 26.8431C38.275 26.2749 39.0121 25.3822 39.3652 24.3288C38.4383 24.8583 37.4251 25.2319 36.3683 25.4324C34.5812 23.6026 31.5924 23.5139 29.6914 25.2352C28.4667 26.345 27.9457 27.9998 28.3264 29.5781C24.5325 29.3943 20.9974 27.6686 18.6008 24.8298C17.3485 26.9066 17.989 29.5624 20.0625 30.896C19.3115 30.8749 18.5767 30.6802 17.92 30.328V30.3857C17.9212 32.5489 19.5047 34.4115 21.7058 34.8401C21.0112 35.0229 20.2821 35.0494 19.576 34.9176C20.1935 36.7695 21.9657 38.038 23.9839 38.0745C22.313 39.3394 20.2488 40.0263 18.1236 40.0241C17.7487 40.023 17.3737 40.0019 17 39.9587C19.1586 41.2923 21.669 42 24.2335 41.9967"
                    fill="#1D7E33"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_654_4900">
                    <rect
                      width="57"
                      height="65"
                      fill="white"
                      transform="translate(57 65) rotate(-180)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__head-form">
        <div class="footer__head-form__title">
          <h4>Залиште ваші контакти</h4>
          <p>Ми відповімо вам протягом 2 робочих днів</p>
        </div>

        <div class="footer__head-form__item">
          <form id="form" autocomplete="off">
            <div class="input-container">
              <input
                autocomplete="off"
                type="text"
                name="Name"
                id="name"
                placeholder="Ім’я"
              />
              <span class="error-message" data-input="name"
                >вкажіть будь ласка ім'я</span
              >
            </div>

            <div class="input-container">
              <input
                autocomplete="off"
                type="text"
                name="E-mail"
                id="email"
                placeholder="E-mail"
              />
              <span class="error-message" data-input="email"
                >вкажіть будь ласка коректний email</span
              >
            </div>

            <div class="input-container">
              <input
                autocomplete="off"
                type="tel"
                name="Phone"
                id="phone"
                placeholder="Телефон"
              />
              <span class="error-message" data-input="phone"
                >Номер телефону неправильний</span
              >
            </div>

            <div class="button-hidden">
              <button id="submit">
                Надіслати
                <input type="submit" />
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="footer__foot">
      <div class="footer__foot-container">
        <div class="footer__foot-logo">
          <div class="footer__foot-logo__content">
            <a class="footer__foot-logo__content-thumb">
              <img src="./img/newGreen-logo.svg" alt="Logo" />
            </a>

            <div class="footer__foot-logo__content-copy">
              <span>
                © 2023 Enveco <br />
                Всі права захищено
              </span>
            </div>
          </div>

          <div class="footer__foot-logo__inform">
            <p>Інформація про компанію</p>
            <p>Код ЄДРПОУ 44154853</p>
          </div>
        </div>

        <div class="footer__foot-police">
          <ul>
            <li>
              <a target="_blank" title="Політика використання cookie" href="#!"
                >Політика використання cookie</a
              >
            </li>

            <li>
              <a target="_blank" title="Політика конфіденційності" href="#!"
                >Політика конфіденційності</a
              >
            </li>

            <li>
              <a target="_blank" title="Договір публічної оферти" href="#!"
                >Договір публічної оферти</a
              >
            </li>
          </ul>

          <ul>
            <li>
              <a class="presentation-link" href="#!">
                <span>
                  <svg
                    width="13"
                    height="16"
                    viewBox="0 0 13 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_654_4986)">
                      <path
                        d="M1.625 16C1.17813 16 0.795573 15.8433 0.477344 15.53C0.159115 15.2167 0 14.84 0 14.4V1.6C0 1.16 0.159115 0.783333 0.477344 0.47C0.795573 0.156667 1.17813 0 1.625 0H8.125L13 4.8V14.4C13 14.84 12.8409 15.2167 12.5227 15.53C12.2044 15.8433 11.8219 16 11.375 16H1.625ZM7.3125 5.6V1.6H1.625V14.4H11.375V5.6H7.3125Z"
                        fill="#1D7E33"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_654_4986">
                        <rect width="13" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                Презентація компанії
              </a>
            </li>

            <li>
              <a target="_blank" href="https://garne.agency/"
                >Розробка: garne.agency</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
