<section class="projects__intro">
  <div class="projects__intro-wrapper">
    <div class="projects__intro-wrapper__img">
      <img
        src="./img/projectsIntro.jpg"
        alt="проекти для зеленої енергетики та розвитку"
      />
    </div>

    <div class="projects__intro-wrapper__content">
      <h1>проекти для зеленої енергетики та розвитку</h1>
    </div>
  </div>
</section>

<section class="projects__cards">
  <div class="container">
    <div class="projects__cards-items">
      <!-- 1 -->
      <div class="projects__cards-items__card">
        <a href="./pageProjectArticle.html">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-1.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 2 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-2.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>

      <!-- 3 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-3.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 4 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-4.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>

      <!-- 5 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-5.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 6 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-6.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>

      <!-- 7 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-7.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 8 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-8.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="projects__cards-items project-group">
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-7.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 8 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-8.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="projects__cards-items project-group">
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-7.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 8 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-8.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="projects__cards-items project-group">
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-7.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 8 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-8.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="projects__cards-items project-group">
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-7.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 8 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-8.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="projects__cards-link">
      <a href="#!" id="show-more-projects">
        <span> Більше проєктів </span>
      </a>
    </div>
  </div>
</section>
