<section class="activity__intro">
  <div class="activity__intro-wrapper">
    <div class="activity__intro-wrapper__img">
      <img src="./img/activityIntro.jpg" alt="Напрями Діяльності" />
    </div>

    <div class="activity__intro-wrapper__content">
      <h1>напрями діяльності</h1>
      <p>
        Текст про то що в нас є різні напрмки діяльності і що ми можемо бути вам
        корисними там
      </p>
    </div>
  </div>
</section>

<section class="activity__all">
  <div class="container">
    <div class="activity__all-title">
      <h2>Всі напрями діяльності</h2>
    </div>

    <div class="activity__all-cards">
      <div class="activity__all-cards__item">
        <a href="./pageActivityArticle.html" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-1.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Біоенергетика - CO2. Нейтрельне біопаливо</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span class="btnText"> Детальніше </span>
          </div>
        </a>
      </div>

      <div class="activity__all-cards__item">
        <a href="#!" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-2.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Вітроенергетика</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span class="btnText"> Детальніше </span>
          </div>
        </a>
      </div>

      <div class="activity__all-cards__item">
        <a href="#!" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-3.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Сонячна енергія</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span class="btnText"> Детальніше </span>
          </div>
        </a>
      </div>

      <div class="activity__all-cards__item">
        <a href="#!" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-4.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Гідроенергетика</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span class="btnText"> Детальніше </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="activity__plus">
  <div class="container">
    <div class="activity__plus-title">
      <h2>Додаткові послуги</h2>
    </div>

    <div class="activity__plus-cards">
      <div class="activity__plus-cards__item">
        <a href="./pageService.html">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>Консультування</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="activity__plus-cards__item">
        <a href="#!">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>
                Екологічні та <br />
                соціальні питання
              </h4>
            </div>
          </div>
        </a>
      </div>

      <div class="activity__plus-cards__item">
        <a href="#!">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>Екологія</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="activity__plus-cards__item">
        <a href="#!">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>Освіта</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
