<section class="activity-article__intro">
  <div class="activity-article__intro-wrapper">
    <div class="activity-article__intro-wrapper__img">
      <img src="./img/pageActivityArticleIntro.jpg" alt="Розвиток ВДЕ" />
    </div>

    <div class="activity-article__intro-wrapper__content">
      <h1>Розвиток ВДЕ</h1>
    </div>
  </div>
</section>

<section class="activity-article__cards">
  <div class="container">
    <div class="activity__all-title">
      <h2>послуги по напрямку діяльності</h2>
    </div>

    <div class="activity__all-cards">
      <div class="activity__all-cards__item">
        <a href="pageService.html" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-1.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Біоенергетика - CO2. Нейтрельне біопаливо</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span> Детальніше </span>
          </div>
        </a>
      </div>

      <div class="activity__all-cards__item">
        <a href="#!" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-2.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Вітроенергетика</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span> Детальніше </span>
          </div>
        </a>
      </div>

      <div class="activity__all-cards__item">
        <a href="#!" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-3.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Сонячна енергія</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span> Детальніше </span>
          </div>
        </a>
      </div>

      <div class="activity__all-cards__item">
        <a href="#!" class="activity-card">
          <div class="activity__all-cards__item-img">
            <img src="./img/pageActivityCard-4.jpg" alt="Детальніше" />
          </div>

          <div class="activity__all-cards__item-title">
            <h4>Гідроенергетика</h4>
          </div>

          <div class="activity__all-cards__item-btn">
            <span> Детальніше </span>
          </div>
        </a>
      </div>
    </div>

    <div class="activity-article__descr">
      <div class="activity-article__descr-title">
        <h4>Більш детально про цей розділ</h4>
      </div>

      <div class="activity-article__descr-about">
        <p>
          Наша компанія має великий досвід у сфері проектування різноманітних
          цивільних та промислових об’єктів. Ми спеціалізуємося на створенні
          інноваційних та функціональних рішень, які відповідають потребам наших
          клієнтів і враховують найсучасніші технології та нормативні вимоги.
        </p>

        <p>
          Наша команда висококваліфікованих інженерів та проектувальників працює
          з великою увагою до деталей та принципом індивідуального підходу до
          кожного проекту. Ми розуміємо, що кожен об’єкт має свої унікальні
          вимоги та особливості, тому ми старанно аналізуємо його функціональні,
          естетичні та експлуатаційні аспекти, щоб забезпечити оптимальні
          рішення.
        </p>
      </div>
    </div>

    <div class="projects__cards-link">
      <a href="./pageActivity.html">
        <span> Назад </span>
      </a>
    </div>
  </div>
</section>
