<section class="team__intro">
  <div class="team__intro-wrapper">
    <div class="team__intro-wrapper__img">
      <img
        src="./img/teamIntro.jpg"
        alt="Наша команда - сила змін у сфері енергетики та екології"
      />
    </div>

    <div class="team__intro-wrapper__content">
      <h1>Наша команда - сила змін у сфері енергетики та екології"</h1>
    </div>
  </div>
</section>

<section class="team__cards">
  <div class="container">
    <div class="team__cards-title">
      <h2>Команда</h2>
    </div>

    <div class="team__cards-items">
      <!-- 1 -->
      <div class="team__cards-items__card">
        <a href="./pageTeamCard.html">
          <div class="team__cards-items__card-thumb">
            <img src="./img/pageTeamCard-1.jpg" alt="Denys Shofolov" />
          </div>

          <div class="team__cards-items__card-title">
            <p>Denys Shofolov</p>
          </div>
        </a>
      </div>

      <!-- 2 -->
      <div class="team__cards-items__card">
        <a href="./pageTeamCard.html">
          <div class="team__cards-items__card-thumb">
            <img src="./img/pageTeamCard-1.jpg" alt="Denys Shofolov" />
          </div>

          <div class="team__cards-items__card-title">
            <p>Denys Shofolov</p>
          </div>
        </a>
      </div>

      <!-- 3 -->
      <div class="team__cards-items__card">
        <a href="./pageTeamCard.html">
          <div class="team__cards-items__card-thumb">
            <img src="./img/pageTeamCard-2.jpg" alt="Володимир Семенюк" />
          </div>

          <div class="team__cards-items__card-title">
            <p>Володимир Семенюк</p>
          </div>
        </a>
      </div>

      <!-- 4 -->
      <div class="team__cards-items__card">
        <a href="./pageTeamCard.html">
          <div class="team__cards-items__card-thumb">
            <img src="./img/pageTeamCard-3.jpg" alt="Віктор Коновалов" />
          </div>

          <div class="team__cards-items__card-title">
            <p>Віктор Коновалов</p>
          </div>
        </a>
      </div>
    </div>

    <div class="banner-border">
      <div class="team__cards-banner">
        <div class="team__cards-banner__symbol">
          <img src="./img/activityCardSymbol.svg" alt="Symbol" />
        </div>

        <div class="team__cards-banner__content">
          <div class="team__cards-banner__content-title">
            <h2>
              Ви можете залучити нашу команду під реалізацію вашого проєкту
            </h2>
          </div>

          <div class="team__cards-banner__content-descr">
            <div class="team__cards-banner__content-descr__left">
              <div class="descr__left-icon">
                <img src="./img/plus-icon.svg" alt="Plus" />
              </div>

              <div class="descr__left-text">
                <p>
                  Ми залучаємо зовнішніх спеціалістів для ефективної реалізації
                  проєктів. Вони мають широкий досвід і допомагають нам робити
                  найкращі рішення.
                </p>
              </div>
            </div>

            <div class="team__cards-banner__content-descr__right">
              <a href="#!">
                <span>Хочу взяти команду</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
