<section class="project__intro">
  <div class="project__intro-wrapper">
    <div class="project__intro-wrapper__img">
      <img src="./img/pageProjectItemIntro.jpg" alt="назва проєкту" />
    </div>

    <div class="project__intro-wrapper__content">
      <h1>назва проєкту</h1>
    </div>
  </div>
</section>

<section class="project__content">
  <div class="container">
    <div class="project__content1">
      <div class="project__content1-title">
        <h4>Проєкт по зміненню інфраструктури десь небудь</h4>
      </div>

      <div class="project__content1-descr">
        <p>
          Наша компанія має значний досвід у реалізації проєктів цивільних та
          промислових об’єктів. Ми зосереджені на досягненні високої якості та
          задоволенні потреб наших клієнтів.
        </p>
        <p>
          Наша команда висококваліфікованих інженерів та проектувальників
          працювала з великою увагою до деталей та дотримувалася принципу
          індивідуального підходу до кожного проєкту. Ми забезпечували аналіз
          функціональних, естетичних та експлуатаційних аспектів кожного
          об’єкта, щоб забезпечити оптимальні рішення.
        </p>

        <div class="project__content1-descr-img">
          <img src="./img/pageProjectItem-bg1.jpg" alt="bg1" />
        </div>

        <p>
          Наші послуги включали розробку архітектурних концепцій, створення
          конструктивних рішень, розрахунок інженерних систем, розміщення
          комунікацій та планування простору. Ми враховували вимоги проєкту та
          забезпечували його реалізацію в рамках встановлених строків і бюджету.
        </p>
        <p>
          Завдяки нашому професійному підходу та інженерній експертизі, ми
          досягли високої якості реалізації проєкту цивільних та промислових
          об’єктів, що відповідає найвищим стандартам безпеки та ефективності.
        </p>

        <p>
          Наші послуги включали розробку архітектурних концепцій, створення
          конструктивних рішень, розрахунок інженерних систем, розміщення
          комунікацій та планування простору. Ми враховували вимоги проєкту та
          забезпечували його реалізацію в рамках встановлених строків і бюджету.
        </p>

        <p>
          Завдяки нашому професійному підходу та інженерній експертизі, ми
          досягли високої якості реалізації проєкту цивільних та промислових
          об’єктів, що відповідає найвищим стандартам безпеки та ефективності.
        </p>

        <p>
          Наші послуги включали розробку архітектурних концепцій, створення
          конструктивних рішень, розрахунок інженерних систем, розміщення
          комунікацій та планування простору. Ми враховували вимоги проєкту та
          забезпечували його реалізацію в рамках встановлених строків і бюджету.
        </p>

        <p>
          Завдяки нашому професійному підходу та інженерній експертизі, ми
          досягли високої якості реалізації проєкту цивільних та промислових
          об’єктів, що відповідає найвищим стандартам безпеки та ефективності.
        </p>

        <div class="project__content1-descr-img">
          <img src="./img/pageProjectItem-bg2.jpg" alt="bg2" />
        </div>

        <div class="border-p">
          <p>
            Оберіть нашу компанію для проектування вашого об’єкту і отримайте
            надійні та інноваційні рішення, що втілюють ваші потреби та сприяють
            успіху вашого проєкту.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="project__another">
  <div class="container">
    <div class="project__another-title">
      <h2>Інші Релізовані проєкти</h2>
    </div>

    <div class="projects__cards-items">
      <!-- 1 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-5.jpg"
              alt="Економічна підтримка східній Україні"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Економічна підтримка східній Україні</h4>
          </div>
        </a>
      </div>

      <!-- 2 -->
      <div class="projects__cards-items__card">
        <a href="#!">
          <div class="projects__cards-items__card-thumb">
            <img
              src="./img/pageProjectsItem-6.jpg"
              alt="Послуги проєктування для великої міжнародної компанії"
            />
          </div>

          <div class="projects__cards-items__card-descr">
            <h4>Послуги проєктування для великої міжнародної компанії</h4>
          </div>
        </a>
      </div>
    </div>

    <div class="projects__cards-link">
      <a href="./pageProjects.html">
        <span> Назад </span>
      </a>
    </div>
  </div>
</section>
