<section class="service__intro">
  <div class="service__intro-wrapper">
    <div class="service__intro-wrapper__img">
      <img
        src="./img/serviceIntro.jpg"
        alt="Екологічні та соціальні питання "
      />
    </div>

    <div class="service__intro-wrapper__content">
      <h1>
        Екологічні та <br />
        соціальні питання
      </h1>
    </div>
  </div>
</section>

<section class="service__content">
  <div class="container">
    <div class="service__content1">
      <div class="service__content1-title">
        <h4>Екологія</h4>
      </div>

      <div class="service__content1-descr">
        <ul>
          <li>
            Стратегічна екологічна оцінка документу державного планування (СЕО,
            SEA)
          </li>

          <li>
            Оцінка впливу на довкілля планованої діяльності (ОВД, EIA) або
            Оцінка впливу на навколишнє середовище (ОВНС)
          </li>

          <li>
            Екологічний моніторинг (флора та фауна), в тому числі
            пост-моніторинг
          </li>

          <li>Лабораторно-аналітичні дослідження параметрів довкілля</li>

          <li>Екологічна експертиза (EDD)</li>

          <li>
            Аудит дотримання норм охорони праці, промислової та екологічної
            безпеки (HSSE&S)
          </li>

          <li>
            Оцінка відповідності нормам і вимогам національного законодавства та
            міжнародних стандартів фінансових установ (ЄБРР, ЄІБ, МФК, Світового
            банку, OPIC та ін.)
          </li>

          <li>Оцінка впливу на навколишнє та соціальне середовище (ОВНСС)</li>

          <li>
            Розробка систем управління для всіх етапів проекту: охорона праці та
            техніка безпеки, управління довкіллям і соціальним середовищем,
            біорізноманіттям, водними і земельними ресурсами, відходами та ін.
          </li>

          <li>
            Отримання дозвільної документації на використання природних ресурсів
          </li>
        </ul>

        <div class="service__content1-descr__bg">
          <img src="./img/serviceBg-1.jpg" alt="Bg1" />
        </div>
      </div>
    </div>

    <div class="service__content2">
      <div class="service__content2-title">
        <h4>ESG</h4>
      </div>

      <div class="service__content2-descr">
        <ul>
          <li>Стійкі зміни та трансформація</li>
          <li>Дорожні карти та облік вуглецю</li>

          <li>Стратегія сталого інвестування та звітність</li>
          <li>Консультації щодо циклічної економіки</li>

          <li>Відповідальне ведення бізнесу</li>
          <li>Злиття та поглинання</li>
          <li>Цифрова трансформація та аналіз даних</li>
          <li>Зелені закупівлі та управління контрактами</li>
        </ul>
      </div>
    </div>

    <div class="service__content3">
      <div class="service__content1-title">
        <h4>HSE</h4>
      </div>

      <div class="service__content3-descr">
        <ul>
          <li>Оцінка ризику для здоров'я людини та довкілля</li>

          <li>Регуляторні дозволи</li>
          <li>Оцінка ризиків</li>

          <li>Системи відповідності EHS та управління ризиками</li>
          <li>Охорона праці</li>
          <li>Кількісний аналіз ризиків</li>
        </ul>

        <div class="service__content3-descr__bg">
          <img src="./img/serviceBg-2.jpg" alt="Bg2" />
        </div>

        <div class="border-p">
          <p>
            Оберіть нашу компанію для проектування вашого об’єкту і отримайте
            надійні та інноваційні рішення, що втілюють ваші потреби та сприяють
            успіху вашого проєкту.
          </p>
        </div>
      </div>
    </div>

    <div class="activity__plus-title">
      <h2>послуги по напрямку діяльності</h2>
    </div>

    <div class="activity__plus-cards">
      <div class="activity__plus-cards__item">
        <a href="./pageService.html">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>Вітроенергетика</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="activity__plus-cards__item">
        <a href="#!">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>
                Сонячна <br />
                енергетика
              </h4>
            </div>
          </div>
        </a>
      </div>

      <div class="activity__plus-cards__item">
        <a href="#!">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>Гідро енергетика</h4>
            </div>
          </div>
        </a>
      </div>

      <div class="activity__plus-cards__item">
        <a href="#!">
          <div class="activity__plus-cards__item-content">
            <div class="item-content__img">
              <img src="./img/activityCardArrow.svg" alt="Детальніше" />
            </div>

            <div class="item-content__subtitle">
              <h4>Біоенергетика</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="projects__cards-link">
      <a href="./pageActivity.html">
        <span> Назад </span>
      </a>
    </div>
  </div>
</section>
