<section class="team__card">
  <div class="container">
    <div class="team__card-content">
      <div class="team__card-content__left">
        <div class="content__left-items__img">
          <img src="./img/pageTeamCard-1.jpg" alt="Віктор Коновалов" />
        </div>

        <div class="content__left-items__name">
          <h4>Віктор Коновалов</h4>
        </div>
      </div>

      <div class="team__card-content__right">
        <div class="team__card-content__right-title">
          <span>
            Має значний досвід у реалізації проектів відновлюваної енергетики,
            загальною потужністю понад 500 МВт.
          </span>
        </div>
        <ul class="team-list">
          <span>До основних функціональних обов’язків належать: </span>
          <li>відповідальність за планування</li>

          <li>
            проведення регулярних проектних зустрічей для оцінки прогресу
            підрядників та пов’язаних з проектом питань
          </li>

          <li>
            відстеження та моніторинг виконання підрядником контрактних
            зобов’язань та графіку проекту
          </li>

          <li>
            координацію за звітність про хід робіт, відстеження, моніторинг
            додаткових робіт та їх вплив на планування та вартість, а також
            вжиття відповідних заходів для відновлення будь-якої затримки
          </li>

          <li>
            координація з операційною групою питань, що стосуються фактичного
            прогресу сайту для цілей оновлення
          </li>

          <li>
            керуюча група, яка контролює діяльність на ділянці для BOP та WTG.
          </li>
        </ul>

        <ul class="team-link">
          <li>
            <a target="_blank" title="LinkedIn" href="#!">LinkedIn </a>
          </li>

          <li>
            <a target="_blank" title="Facebook" href="#!">Facebook</a>
          </li>
          <li>
            <a target="_blank" title="Зателефонувати" href="tel:+380972344455">
              +380 97 234 44 55
            </a>
          </li>

          <li>
            <a
              target="_blank"
              title="Надіслати листа"
              href="mailto:max.stepanov@example.com"
            >
              max.stepanov@example.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
